/* ----------------------------------- BODY  -----------------------------------*/

/* ----------------------------------- END BODY  -----------------------------------*/

/* ----------------------------------- SEARCH -----------------------------------  */

.header_bottom {
  display: none;
  width: 100%;
  display: flex;
}

#search_div-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: rgb(189, 189, 189);
}

#search_div-i {
  font-size: 20px;
  color: rgb(189, 189, 189);
}

.header_search {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4d93ff;
  justify-content: center;
}

.header_search-div {
  display: flex;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  background-color: white;
}

.search_div-left {
  width: 90%;
  height: 100%;
  padding: 2px;
}

.search_div-right {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------- END SEARCH -----------------------------------  */

/* ----------------------------------- BODY ----------------------------------- */

/* ----------------------------------- BODY TOP ----------------------------------- */


#tab2_main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#main_title-bottom{
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.tab2_main {
  width: 100%;
  height: 230px;
  padding: 10px;
}

.tab2_main-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.tab2_main-title{
  position: absolute;
  top: 90px;
  width: 100%;
  height: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0))
}

.main_title-top{
  display: flex;
  width: 100%;
  height: 70%;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  align-items: flex-end;
}

.main_title-bottom{
  display: flex;
  width: 100%;
  height: 38%;
  padding: 5px 10px;
  align-items: center;
  color: white;
  justify-content: space-between;
}

/* ----------------------------------- END BODY TOP ----------------------------------- */

/* ----------------------------------- BODY BOTTOM ----------------------------------- */

#item_properties-left{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.tab2_item{
  width: 100%;
  height: 140px;
  padding: 10px;
}

.tab2_item-properties{
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 15px -5px;
}

.item_properties-on{
  display: flex;
  width: 100%;
  height: 100%;
}

.item_properties-left{
  width: 40%;
  height: 100%;
  border-radius: 5px;
}

.item_properties-right{
  width: 60%;
  height: 100%;
  padding: 0px 5px;
}

.properties_right-top, .properties_right-bottom{
  display: flex;
  width: 100%;
  height: 20%;
  color: #dbdbdb;
  font-size: 12px;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.properties_right-body{
  width: 100%;
  height: 60%;
  font-weight: bold;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* ----------------------------------- END BODY BOTTOM ----------------------------------- */


/* ----------------------------------- END BODY ----------------------------------- */
