/* ----------------------------------- BODY  -----------------------------------*/

/* ----------------------------------- BODY ITEM1  -----------------------------------*/

#item1_img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#showUiSearchCss {
  transform: translateY(0px);
  transition: 0.5s;
}

#hideUiSearchCSs {
  transform: translateY(-50px);
  transition: 0.5s;
}

.body_item1 {
  display: flex;
  width: 100%;
  height: 230px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.body_item1-img {
  width: 50%;
  height: 100%;
}

.body_item1-content {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.item1_content-category {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 25%;
  border-top-right-radius: 10px;
  align-items: center;
}

.item1_content-title {
  width: 100%;
  height: 40%;
  padding: 2px 15px;
  overflow: hidden;
}

.item1_content-description {
  width: 100%;
  height: 35%;
  border-bottom-right-radius: 10px;
  padding: 0px 15px;
  overflow: hidden;
}

/* ----------------------------------- END BODY ITEM1  -----------------------------------*/

/* ----------------------------------- END BODY  -----------------------------------*/

/* ----------------------------- HEADER ----------------------------- */

#header_right-i {
  margin-right: 18px;
  font-size: 22px;
  font-weight: 500;
}

#header_left-i {
  margin-right: 12px;
  margin-left: 28px;
  font-size: 18px;
  font-weight: 500px;
}

#header_left-p {
  font-size: 20px;
  font-weight: 100px;
}

#category_span {
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 800;
  margin-left: 20px;
  text-transform: uppercase;
}

#title_p {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

#description_p {
  cursor: pointer;
  font-size: 14px;
}

.header_left {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  color: white;
}

.header-right {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  color: white;
}

.header_top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header_bottom {
  width: 100%;
  display: flex;
}

/* ----------------------------------- SEARCH -----------------------------------  */

.header_bottom {
  display: none;
  width: 100%;
  display: flex;
}

#search_div-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: rgb(189, 189, 189);
}

#search_div-i {
  font-size: 20px;
  color: rgb(189, 189, 189);
}

.header_search {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4d93ff;
  justify-content: center;
}

.header_search-div {
  display: flex;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  background-color: white;
}

.search_div-left {
  width: 90%;
  height: 100%;
  padding: 2px;
}

.search_div-right {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------- END SEARCH -----------------------------------  */

/* ----------------------------------- BODY -----------------------------------*/

/* ----------------------------------- BODY MAIN -----------------------------------  */

#tab3_main-img,
#img_top-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#tab3_main-img{
  border-radius: 5px;
}

#img_top-time {
  font-size: 11px;
  color: #dbdbdb;
  text-transform: uppercase;
}

#img_top-logo {
  border-radius: 50%;
}

.tab3_main {
  width: 100%;
  height: 230px;
  padding: 10px;
}

.tab3_main-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_img-bottom {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 90px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main_img-top {
  position: absolute;
  width: 90%;
  /* height: 100px; */
  /* top: 90px; */
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 15px 5px;
  margin: 0px auto;
  background-color: white;
  border-radius: 10px;
}

.img_top-top {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: flex-end;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.img_top-bottom {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
}

.img_top-logo {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
}

/* ----------------------------------- END BODY MAIN -----------------------------------  */

/* ----------------------------------- BODY BOTTOM -----------------------------------  */

#left_top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.tab3_item {
  display: flex;
  width: 100%;
  height: 350px;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.tab3_item-left {
  position: relative;
  width: 49%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: yellow;
}

.tab3_item-right {
  position: relative;
  width: 49%;
  height: 100%;
  border-radius: 5px;
}

.item_left-top {
  width: 100%;
  height: 55%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.item_left-category {
  position: absolute;
  display: flex;
  width: 55px;
  height: 25px;
  top: 168px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
  background-color: #4d93ff;
  text-transform: uppercase;
}

.item_left-bottom {
  width: 100%;
  height: 45%;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.left_bottom-top {
  width: 100%;
  height: 41%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 10px;
}

.left_bottom-bottom {
  width: 100%;
  height: 30%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #a3a3a3;
  margin-top: 10px;
}

/* ----------------------------------- END BODY BOTTOM -----------------------------------  */

/* ----------------------------------- END BODY -----------------------------------*/
