/* ----------------------------------- BODY  -----------------------------------*/

/* ----------------------------------- BODY ITEM1  -----------------------------------*/

#item1_img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#showUiSearchCss {
  transform: translateY(0px);
  transition: 0.5s;
}

#hideUiSearchCSs {
  transform: translateY(-50px);
  transition: 0.5s;
}

.body_item1 {
  display: flex;
  width: 100%;
  height: 230px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.body_item1-img {
  width: 50%;
  height: 100%;
}

.body_item1-content {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

.item1_content-category {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 25%;
  border-top-right-radius: 10px;
  align-items: center;
}

.item1_content-title {
  width: 100%;
  height: 40%;
  padding: 2px 15px;
  overflow: hidden;
}

.item1_content-description {
  width: 100%;
  height: 35%;
  border-bottom-right-radius: 10px;
  padding: 0px 15px;
  overflow: hidden;
}

/* ----------------------------------- END BODY ITEM1  -----------------------------------*/

/* ----------------------------------- END BODY  -----------------------------------*/

/* ----------------------------- HEADER ----------------------------- */

#header_right-i {
  margin-right: 18px;
  font-size: 22px;
  font-weight: 500;
}

#header_left-i {
  margin-right: 12px;
  margin-left: 28px;
  font-size: 18px;
  font-weight: 500px;
}

#header_left-p {
  font-size: 20px;
  font-weight: 100px;
}

#category_span {
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 800;
  margin-left: 20px;
  text-transform: uppercase;
}

#title_p {
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

#description_p {
  cursor: pointer;
  font-size: 14px;
}

.header_left {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  color: white;
}

.header-right {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  color: white;
}

.header_top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header_bottom {
  width: 100%;
  display: flex;
}

/* ----------------------------------- SEARCH -----------------------------------  */

.header_bottom {
  display: none;
  width: 100%;
  display: flex;
}

#search_div-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: rgb(189, 189, 189);
}

#search_div-i {
  font-size: 20px;
  color: rgb(189, 189, 189);
}

.header_search {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4d93ff;
  justify-content: center;
}

.header_search-div {
  display: flex;
  width: 90%;
  height: 70%;
  border-radius: 5px;
  background-color: white;
}

.search_div-left {
  width: 90%;
  height: 100%;
  padding: 2px;
}

.search_div-right {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------- END SEARCH -----------------------------------  */

/* -----------------------------------  BODY -----------------------------------  */

#content_item-bottom {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

#top_top-category{
  display: flex;
  color: white;
  font-size: 8px;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #4d93ff;
  width: 20%;
  padding: 3px 0px;
  justify-content: center;
  align-items: center;
}

.tab4_content {
  display: flex;
  width: max-content;
  height: 420px;
  padding: 10px;
}

.tab4_content-item {
  width: 230px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 7px 5px;
  margin-right: 25px;
}

.content_item-top {
  width: 100%;
  height: 45%;
  padding: 10px;
}

.content_item-bottom {
  width: 100%;
  height: 55%;
  padding: 10px;
}

.item_top-top {
  width: 100%;
  height: 30%;
}

.item_top-body {
  width: 100%;
  height: 35%;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  padding: 0px 5px;
}

.item_top-bottom {
  width: 100%;
  height: 35%;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  padding: 0px 5px;
}

.top_top-category {
  width: 100%;
  height: 50%;
  padding: 3px;
}

.top_top-time {
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 14px;
  padding: 0px 5px;
  align-items: center;
}

/* ----------------------------------- END BODY -----------------------------------  */
