* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.body::-webkit-scrollbar {
  display: none;
}

.backgroundNews::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  cursor: pointer;
}

.container, .containerLoadingLogo {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  height: 850px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px;
}

.headerContent {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: center;
  background-color: #4d93ff;
}

.body {
  width: 100%;
  height: 84%;
  background-color: #ebf0f6;
  /* padding: 10px; */
  overflow: scroll;
}

.footer {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 8%;
  background-color: white;
  /* border-bottom-right-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  border-bottom: 2px solid #dbdbdb;
}

.containerLoadingLogo{
  z-index: 99;
}

